<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
  </head>
  <body> 
    <p>What is the fourth letter of the alphabet?</p>
    <form action = "/submit3" method="POST">
  <input type="radio" id="D" name="answer3" value="A">
  <label for="answer3">A</label><br>
  <input type="radio" id="E" name="answer3" value="B">
  <label for="answer3">B</label><br>
  <input type="radio" id="F" name="answer3" value="C">
  <label for="answer3">C</label>
  <input type="radio" id="D" name="answer3" value="D">
  <label for="answer3">D</label>
  <input type="submit" value = "Submit">
</form>
  
    
    
  </body>
</html>

