<!DOCTYPE html>
<html>
  <head>
    <title>Math Quiz</title>
  </head>
  <body> 
    <p>What is the Fourth letter of the alphabet?</p>
    <form action = "/submit3" method="POST">
  <input type="radio" id="D" name="answer" value="A">
  <label for="answer">A</label><br>
  <input type="radio" id="E" name="answer" value="B">
  <label for="answer">B</label><br>
  <input type="radio" id="F" name="answer" value="C">
  <label for="answer">C</label>
  <input type="submit" value = "Submit">
</form>
  
    
    
  </body>
</html>

