<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Quiz</title>
  </head>
  <body>
    <p>What is the second letter of the alphabet?</p>
    <form action = "/submit1" method="POST">
  <input type="radio" id="A" name="answer2" value="A">
  <label for="answer2">A</label><br>
  <input type="radio" id="B" name="answer2" value="B">
  <label for="answer2">B</label><br>
  <input type="radio" id="C" name="answer2" value="C">
  <label for="answer2">C</label><br>
  <input type="radio" id="D" name="answer2" value="D">
  <label for="answer2">D</label><br>
  <input type="submit" value = "Submit">
</form>
  
    
    
  </body>
</html>
